
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 1em;
  margin-top: 0em;
  text-indent: 0 !important;
  margin-bottom: 1.3em;
  font-family: junction;
  font-weight: 100;
}

i {
  font-size: 1em;
  font-family: junction;
}

div.front {
  width: 100%;
  font-weight: 400;
  margin: auto;
  margin-bottom: 1;
  text-align: center;
  font-family: simplifica;
}

.front h1 {
  font-size: 12em;
  color: #4D8963;
  font-weight: 1000;
  padding-top: 1.5em;
  padding-bottom: 1em;
  white-space: nowrap;
}

.front h2 {
  font-size: 4em;
  color: #49bcb1;
  padding-bottom: 0.8em;>
}

.front img {
  margin: auto;
  margin-bottom: 10em;
  width: 5%;
  
}
}

hr.line{
  height: 40px;
  color: #49bcb1;
  background-color: #49bcb1;
  border-width: 0;
  margin: 0;
  
}

.box {
  background-color: #49bcb1;
  width: 100%;
  height: 15em;
  
}

div.headers {
   width: 15%; 
   margin: 0 auto; 
   text-align: center;
   font-family: simplifica;
   font-size: 4em;
   font-weight: bold;
}

.passion, .project {
  width: 80%; 
  margin: auto; 
  margin-top: 0em;
  margin-bottom: 1.5em;
  font-family: junction;
  vertical-align: text-top;

}

.passion img {
  width: 50px;
  height: 50px;
}

.project img{
  float: center; 
  height: 420px; 
  width: 100%; 
  margin-left: 37px;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 19px;
 
}

.text {
  width: 80%;
  text-align: left;
  font-weight: 100;
  font-size: 1em;

}

img.icon {
  width: 25px; 
  height: 25px;
  margin-left: -9px;
  margin-right: 5px;

}

ul {
  font-family: junction;
  list-style-type: disc;
  margin-left: 1em;
  padding-bottom: 1em;
}

li {
  font-size: 1em; 
  font-family: junction;
  font-weight: 100;
  list-style-type: disc;
  margin-left: 1em;
}

a:link {
  color: #49bcb1;
  text-decoration: none;
}

a:visited {
  color: #49bcb1;
  text-decoration: none;
}

#nav {
  width: 100%;
  position: fixed;
  background-color: #fafafa;
  height: 5%;
  margin-left: 0;
  border-bottom: 0 solid gray;
}

#nav a:link, #nav a:visited {
  margin-right: 1em; 
  margin-left: 1em; 
  font-family: simplifica; 
  font-size: 2em;
  font-weight: 400;
}

#navbar {
  float: right;
  width: 50%;
  box-sizing: border-box;
  padding-right: 50px;
}

td { 
  padding: 5px;
  vertical-align:top;
  width:150px;
  font-size:16pt;	
  text-align: center;
}

tr > td {
  padding-bottom: 30px;
}

dl {
  margin-left: 0;
}

#content {
  float: right ;
  width: 50% ;
}


/* FONT FILES & FAMILY -------------------------------------------------*/
@font-face {
  font-family: 'junction';
  src: url('fonts/junction-regular.ttf');
}

@font-face {
  font-family: 'simplifica';
  src: url('fonts/simplifica.ttf');
};


