
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

p {
  font-size: 1.5em;
  line-height: 1.7em;
  margin-top: 0em;
  text-indent: 0 !important;
  margin-bottom: 1.3em;
  font-family: junction;
  font-weight: 100;
}

i {
  font-size: 1.5em;
  font-family: junction;
}



hr.line {
  clear: both;
  height: 0.1em;
  color: #49bcb1;
  background-color: #49bcb1;
  border: 0;
  margin: 0.5em auto;
  
}


hr.box {
  clear: both;
  width: 100%;
  height: 18em;
  color: #49bcb1;
  background-color: #49bcb1;
  border: 0;
  
  
}

div.front {
  width: 100%;
  font-weight: 400;
  margin: auto;
  margin-bottom: 1;
  text-align: center;
  font-family: simplifica;
}

.front h1 {
  font-size: 12em;
  color: #4D8963;
  font-weight: 1000;
  padding-top: 1.5em;
  padding-bottom: 1em;
  white-space: nowrap;
}

.front h2 {
  font-size: 4em;
  color: #49bcb1;
  padding-top: 2em;
  padding-bottom: 2em;
}

.front img {
  margin: auto;
  margin-bottom: 10em;
  width: 5%;
  
}
}


.box {
  background-color: #49bcb1;
  width: 100%;
  height: 15em;
  
}

div.headers {
   width: 20%; 
   margin: 0 auto; 
   text-align: center;
   font-family: simplifica;
   font-size: 3.5em;
   font-weight: bold;
}

.interests, .project, .about {
  width: 80%; 
  margin: auto; 
  margin-top: 0em;
  margin-bottom: 1.5em;
  font-family: junction;
  vertical-align: text-top;

}

.interests img {
  width: 50px;
  height: 50px;
}

.project img{
  float: center; 
  height: 420px; 

  margin-left: 37px;
}

.title {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: #232323;
 
}

.text {
  width: 80%;
  text-align: left;
  font-weight: 100;
  font-size: 1.2em;

}

img.icon {
  width: 25px; 
  height: 25px;
  margin-left: -9px;
  margin-right: 5px;

}

ul {
  font-family: junction;
  list-style-type: disc;
  margin-left: 1em;
  padding-bottom: 1em;
}

li {
  font-size: 1.5em; 
  font-family: junction;
  font-weight: 100;
  list-style-type: disc;
  margin-left: 1em;
  padding-bottom: 0.5em;
}

a:link {
  color: #49bcb1;
  text-decoration: none;
}

a:visited {
  color: #49bcb1;
  text-decoration: none;
}

table {
  width: 80%;
  margin: auto;
  border: none;
  padding-top: 10em;
  padding-bottom: 10em;
}

th {

  text-align: center;
}

#nav {
  width: 100%;
  position: fixed;
  background-color: #fafafa;
  height: 5%;
  margin-left: 0;
  border-bottom: 0 solid gray;
}

#nav a:link, #nav a:visited {
  margin-right: 1em; 
  margin-left: 1em; 
  font-family: simplifica; 
  font-size: 2em;
  font-weight: 400;
}

#navbar {
  float: right;
  width: 50%;
  box-sizing: border-box;
  padding-right: 50px;
}


dl {
  margin-left: 0;
}

#content {
  float: right ;
  width: 50% ;
}


a.btn {
  color: #232323;
  text-decoration: none;
}

a.anchor {
  position: relative;
  top: -50px;
}

/* Outer */
.popup {
    width:100%;
    height:100%;
    display:none;
    position:fixed;
    top:0;
    left:0;
    background:rgba(0,0,0,0.75);
}
 
/* Inner */
.popup-inner {
    max-width:50%;
    width:50%;
    padding:2em;
    position:absolute;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    box-shadow:0em 0.2em 0.2em rgba(0,0,0,1);
    border-radius:1em;
    background: #fff;
}
 
/* Close Button */
.popup-close {
    width:2em;
    height:2.5em;
    padding-top:0.3em;
    display:inline-block;
    position:absolute;
    top:1em;
    right:1em;
    transition:ease 0.25s all;
    -webkit-transform:translate(50%, -50%);
    transform:translate(50%, -50%);
    background:rgba(0,0,0,0);
    font-family:Arial, Sans-Serif;
    font-size:2em;
    text-align:center;
    line-height:100%;
    color:#fff;
}
 
.popup-close:hover {
    -webkit-transform:translate(50%, -50%) rotate(180deg);
    transform:translate(50%, -50%) rotate(180deg);
    background:rgba(0,0,0,0);
    text-decoration:none;
}



/* FONT FILES & FAMILY -------------------------------------------------*/
@font-face {
  font-family: 'junction';
  src: url('fonts/junction-regular.ttf');
}

@font-face {
  font-family: 'simplifica';
  src: url('fonts/simplifica.ttf');
};


