path:hover {
	fill-opacity: .7;
}

/* Style for Custom Tooltip */
.tooltip {   
 	position: absolute;           
	width: 1000px;
	height: auto;
	text-align: left;           
	padding: 2px;             
	font: 12px; 
	font-family: sans-serif;        
	background: white;   
	border: 0px;      
	border-radius: 8px;           
	pointer-events: none;         
}
        
/* Legend Font Style */
body {
	font: 11px sans-serif;
}
        
/* Legend Position Style */
.legend {
	position:absolute;
	left:800px;
	top:350px;
}

